@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Baskerville";
  src: url("./fonts/Baskervville_SC/BaskervvilleSC-Regular.ttf");
}

@font-face {
  font-family: "Wittgenstein";
  src: url("./fonts/Wittgenstein/Wittgenstein-VariableFont_wght.ttf");
}

:root {
  --head-size: 15vh;
  --content-size: calc(100vh - (var(--head-size) + 1vh));
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url("./assets/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  color: white;
  font-family: "Baskerville";
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: var(--head-size);
  gap: 2em;
}

.head nav {
  height: 1vh;
  padding: 0;
}

.head nav ul {
  list-style-type: none;
  padding: 0;
}

.head li {
  display: inline-block;
  font-family: "Baskerville", sans-serif;
  margin-right: 3em;
  margin-left: 3em;
  transition: all 0.2s ease;
  transition: scale 0.1 ease;
  
}

.head nav li a {
  color: white;
  text-decoration: none;
  
}

.head li:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.head li:active {
  scale: 1.1;
}

.zoom {
  scale: 1.2;
  border-bottom: 2px solid white;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--content-size);
  
}

.container {
  width: 25em;
  text-align: center;
  animation: menu-container 0.5s ease-in-out;
  opacity: 1;
}

.container hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.container p {
  font-family: "Wittgenstein";
}

.btn-menu {
  font-family: "Baskerville";
  margin-top: 0.5em;
  width: 12em;
  height: 2.5em;
  background-color: #c59d5f;
  border: none;
  transition: all 0.05s ease;
}

.btn-menu:active {
  position: relative;
  color: white;
  margin-top: 1em;
  background-color: #947548;
}

.menu-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--content-size);
  background-color: #ffedd5;
  color: black;
  animation: menu-container 0.5s ease-in-out;
  opacity: 1;
}



.menu-container .container {
  margin-top: 3em;
}

.menu-container .container hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
}

@keyframes menu-container {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}